mixin createPostForm(userLoggedIn)
  .postFormContainer
    .userImageContainer
      img(src=userLoggedIn.profileLogo, alt="User's Profile Picture")
    .textAreaContainer
      textarea#postTextArea(placeholder="What's happening?")
      .buttonsContainer
        button#submitPostButton(disabled="") Tweet 